/* Pour les textes de base */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');
@font-face {
    font-family: 'VIKING-N';
    src: url('font/VIKING-N.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
} 
*{      
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --orange: #f38162;
}
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    color: white;  
}

/*header*/

header{
    background: linear-gradient(#000000,#424231,#b3b387);
    /*(rgb(24, 18, 43),#2c244e,rgb(68, 56, 92))*/
}
header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    min-height: 10vh;
    }
header nav h1{
    margin: 0;
    text-transform: uppercase;
    color: var(--orange);
    font-size: 30px;
}

header nav .right {
    display: flex;
    align-items: center;
    font-size: 18px;
    list-style: none;
}
header nav .right a{
    margin: 0 30px 0 0;
    color: #ccc;
    text-decoration: none;
    display: inline-block;
}
header nav .right a:hover{
    color: white;
    cursor: pointer;
}

/*déroulant*/

nav > ul::after{
    content: "";
    display: block;
    clear: both;
}
nav > ul >li{
    float: left;
    position: relative;
}
nav > ul > li > a{
    padding: 32px 30px 32px 0;
}
nav > ul >li:hover a{
    padding: 27px 30px 32px 0;;
}

nav li:hover .deroulant{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}
.deroulant{
    display: none;
    position: absolute;
    list-style-type: none;
}
.deroulant li{
    border-bottom:1px solid var(--orange);
}
.menu-deroulant:hover{
    border-top: 5px solid var(--orange);
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.menu-deroulant:hover .deroulant{
    background-color: rgba(66, 66, 49, 0.75);
    border-radius: 5px;
}
.menu-deroulant-petit:hover {
    border-top: 5px solid var(--orange);
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.menu-deroulant-petit:hover .deroulant{
    background-color: rgba(66, 66, 49, 0.75);
    border-radius: 5px;
}
.menu-deroulant-petit2:hover {
    border-top: 5px solid var(--orange);
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.menu-deroulant-petit2:hover .deroulant{
    background-color: rgba(66, 66, 49, 0.75);
    border-radius: 5px;
}

.menu-deroulant a{
    padding: 42.5px 30px 42.5px ;
}
.menu-deroulant:hover a{
    padding: 37.5px 30px 42.5px;
}
.menu-deroulant-petit a{
    padding: 52.5px 30px 52.5px ;
}
.menu-deroulant-petit:hover a{
    padding: 47.5px 30px 52.5px;
}
.menu-deroulant-petit2 a{
    padding: 52.5px 30px 52.5px ;
}
.menu-deroulant-petit2:hover a{
    padding: 47.5px 30px 52.5px;
}
.menu-deroulant-petit2 .deroulant li a{
    padding: 15px 0 15px 5px;
    width: 220px;
}
.menu-deroulant .deroulant li a{
    padding: 15px 0 15px 5px;
    width: 240px;
}
.menu-deroulant-petit .deroulant li a{
    padding: 15px 0 15px 5px;
    width: 170px;
}

/*header button*/
header nav .right button {  
    padding: 5px 15px;
    font-size: 16px;
    background-color: inherit;
    border: 1px solid var(--orange);
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
}
header nav .right button a{
    text-decoration: none;
    color: var(--orange);
}
header nav .right button:hover {
    color: inherit;
    background-color: var(--orange);
}
header nav .right button:hover a{
    color: white;
    transition: 0.5s;
}

/*Tableau*/
.ensemble{
    background-color: #000;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    padding: 130px 75px 75px;
    font-size: 2vw;
    font-family: 'VIKING-N';
    display: flex;
    justify-content: center;
    color: #b3b387;
}

.tableau-style{
    background-color: white;
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px #b3b387;
    cursor: pointer;
    margin: 100px auto;
    border: 1px solid #ddd;
    margin-top: 0;
}

thead tr{
    background-color: #b3b387;
    color: #fff;
    text-align: left;
    
}
th,td{
    padding: 10px 5px;
    color: #000;
    text-align: center;
    font-size: 1.30rem;
}
tbody tr, td,th{
    border: 1px solid #ddd;
}
tbody tr:nth-child(even){
    background-color: #f9f9fb;
}

/*Anecdote*/

.ensemble .anecdote{
    font-weight: 300;
    color: #e9e9e9;
    line-height: 2.5rem;
    padding: 1rem;
    margin:0 125px 0 125px;
    font-size: 25px;
    text-align: left;
    margin-bottom: 20px;
}

/*footer*/

footer{
    margin: 0;
    padding: 20px;
    background: linear-gradient(#94946f,#000);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 1.5rem;
}
footer h3{
    color: var(--orange);
    font-size: 2rem;
}
footer p{
    cursor: pointer;
    color: #ccc;
}
footer p:hover{
    color: white;
}
footer p a{
    color: #ccc;
    text-decoration: none;
}
footer p:hover a{
    color: white;
    text-decoration: none;
}
@media (max-width: 1620px){
    .tableau-style{
        margin: 0 30px 0 30px;
    }
}
@media (max-width: 940px) {

    .tableau-style thead, tr, th, tbody, tr, td {
        display: block;
        height: 100%;
    }
    .table th {
        display: block;
    }
    .ensemble .anecdote{
        margin:0 85px 30px 85px
        
    }
}
@media screen and (max-width: 740px){
    header{
        font-size: 0.5em;
    }
    header nav .right {
        flex-direction: column;
        width: 95%;
    }
    header nav .right a{
        margin: 0;
    }
    .menu-deroulant:hover .deroulant{
        background-color: rgb(66, 66, 49);
        border-radius: 5px;
    }
    .menu-deroulant-petit:hover .deroulant{
        background-color: rgb(66, 66, 49);
        border-radius: 5px;
    }
    .menu-deroulant-petit2:hover .deroulant{
        background-color: rgb(66, 66, 49);
        border-radius: 5px;
    }
}
@media screen and (max-width: 640px){
    footer{
        justify-content:flex-start;
    }
    footer .column{
        width: 80%;
    }
}